body{
    height: 100vh;
    border:  1px solid black;

}

.b{
    border: 1px solid grey;
}

header{
    padding-top: 10px;
    border: 1px solid grey;
    background-color: rgb(46, 48, 48);
    color: aliceblue;
    
}

.header-container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(46, 48, 48);
}

.header-container div{
    border: 1px solid grey;
}

.nav-container {
    display: flex;
    height: 40px;
    justify-content: flex-end; /* Aligns items to the right */
    align-items: center;
    color: white;
    background-color: #333;
    padding: 0 20px;
}

.nav-container a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: text-decoration 0.3s;
}

.nav-container a:hover {
    text-decoration: underline;
    background-color: #030303;

}

.main-container{
    display: flex;
    height: 1000px;
    justify-content: flex-start;
    margin: 5px;
    
}

.main-content-left{
    width: 80%;
    border: 1px solid grey;
    padding-left: 12.5px;
}

.main-content-right{
    width: 20%;
    border: 1px solid grey;
    padding-left: 25px;
}

.footer-container {
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0 20; /* Adjust padding to create space between content */
    margin: 0; /* Remove default margin */
}

.footer-container a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: text-decoration 0.3s;
}

.footer-container a:hover {
    text-decoration: underline;
    background-color: #030303;
}


.logo{
    width: 50px;
    height: 50px;
    background-image: url("../images/my-logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 50%;
}

div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
